@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: #cad59e;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
	background-color: var(--background-color);
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	position: fixed;
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	font-family: Arial, sans-serif;
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color: var(--primary-color);
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}

/* ************* NAVBAR ************* */
.container-navbar {
	background-color: var(--primary-color);
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 80px; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 2rem;
	background-color: #fff;
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 2rem;
	color: #fff;
}

/* ********************************** */
/*               BANNER               */
/* ********************************** */
.banner {
	background-image: linear-gradient(100deg, #000000, #f0ecec20),url('img/BioBoFo.jpeg');	
	height: 60rem;
	background-size: cover;
	background-position: center;
}
/* Botones invisibles (solo texto) */
.btn {
  background: none;
  border: none;
  padding: 0;
  margin-right: 15px;
  color: #007bff;       /* Puedes cambiar el color del texto */
  font-size: 20px;      /* Tamaño del texto del “botón” */
  cursor: pointer;
  text-decoration: underline; /* Si no quieres subrayado, bórralo */
}

/* Modal oculto */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  padding-top: 60px;
}

/* Mostrar modal cuando es el objetivo */
.modal:target {
  display: block;
}

/* Contenedor más grande */
.contenido {
  background: white;
  margin: auto;
  padding: 30px;
  width: 70%;              /* Aumenté el tamaño */
  max-width: 900px;        /* Límite opcional */
  border-radius: 15px;
  position: relative;
  font-size: 20px;         /* Letra más grande dentro del modal */
  line-height: 1.5;
}

/* Títulos dentro del modal */
.contenido h2 {
  font-size: 30px;         /* Más grande el título */
  margin-bottom: 15px;
}

/* Botón cerrar */
.cerrar {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 35px;         /* Más grande */
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.content-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
}

.content-banner p {
	color: var(--primary-color);
	font-size: 2.2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.content-banner h2 {
	color: #fff;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.content-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
}

/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
	background-color: var(--background-color);
}

/* ********************************** */
/*              FEATURES              */
/* ********************************** */
.container-features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
}

.card-feature {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	background-color: #fff;
	border-radius: 1rem;
	padding: 1.5rem 0;
}

.card-feature i {
	font-size: 2.7rem;
	color: var(--primary-color);
}

.feature-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.feature-content a {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--dark-color);
}

.feature-content p {
	color: #777;
	font-weight: 500;
}

/* ********************************** */
/*             CATEGORIES             */
/* ********************************** */

.top-categories {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-category {
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

.category-moca {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/mision.png');	
    width: 400px;
	height: 200px;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.category-capuchino {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/vision.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-expreso {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/calores.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-category p {
	font-size: 2.5rem;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.card-category p::after {
	content: '';
	width: 2.5rem;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-category a {
	font-size: 1.6rem;
	color: #fff;
	cursor: pointer;
}

.card-category a:hover {
	color: var(--primary-color);
}

/* CONTENEDOR GENERAL */
.producto {
    width: 85%;
    margin: 50px auto;
    background: #f9f9f9;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid #cad59e;
    box-shadow: 0 0 15px rgba(202, 213, 158, 0.4);
}

/* TÍTULOS */
.titulo-producto {
    text-align: center;
    font-size: 36px;
    color: #cad59e;
    margin-bottom: 20px;
}

.subtitulo {
    font-size: 28px;
    color: #cad59e;
    margin: 25px 0 15px;
}

/* TEXTOS */
.descripcion,
.procedimiento {
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
    color: #333;
}

/* ————————————————
          2 IMÁGENES PRINCIPALES
   ———————————————— */

.imagenes-dos {
    display: flex;
    justify-content: center;   /* Centra horizontalmente */
    align-items: center;
    gap: 20px;
    margin: 25px 0;
}

.img-box-dos {
    width: 45%;
    height: 280px;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #cad59e;
    box-shadow: 0 0 12px rgba(202, 213, 158, 0.4);
    display: flex;
    justify-content: center;  
    align-items: center;
}

.img-box-dos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ————————————————
           GALERÍA FINAL DE 3
   ———————————————— */

.galeria3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;   /* Centra las cajas en cada columna */
    gap: 20px;
    margin-bottom: 25px;
}

.img-box {
    width: 100%;
    max-width: 320px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #cad59e;
    box-shadow: 0 0 12px rgba(202, 213, 158, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .imagenes-dos {
        flex-direction: column;
    }

    .img-box-dos {
        width: 100%;
    }

    .galeria3 {
        grid-template-columns: 1fr;
    }

    .img-box {
        max-width: 100%;
    }
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* LISTAS DEL PROCEDIMIENTO */
.lista-procedimiento {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    margin-left: 25px;
    list-style: decimal !important;
}

.lista-procedimiento > li {
    margin-bottom: 18px;
}

/* Listas internas con viñetas */
.lista-procedimiento ul {
    list-style: disc !important;
    margin-left: 25px;
    margin-top: 8px;
}

/* Texto dentro de los pasos */
.lista-procedimiento p {
    margin-top: 8px;
    margin-left: 5px;
}

/* Color de acentos */
.subtitulo {
    color: #cad59e;
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
}
.ficha-tecnica h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
}

.tabla-ficha {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
    font-size: 17px;
}

.tabla-ficha th {
    background-color: #cad59e;
    color: #333;
    width: 30%;
    padding: 12px;
    border: 2px solid #cad59e;
    text-align: left;
}

.tabla-ficha td {
    padding: 12px;
    border: 2px solid #cad59e;
    background: #fdfdf8;
}

.tabla-ficha ul,
.tabla-ficha ol {
    margin-left: 20px;
}

.imagen-ficha {
    text-align: center;
    margin-bottom: 25px;
}

.imagen-ficha h3 {
    margin-bottom: 10px;
    color: #333;
}

.imagen-ficha img {
    width: 60%;
    max-width: 350px;
    border: 2px solid #cad59e;
    border-radius: 10px;
    padding: 10px;
}
.apartado-info {
    margin-top: 40px;
}

.apartado-info h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.info-box {
    border: 2px solid #cad59e;
    border-radius: 12px;
    padding: 18px;
    margin-bottom: 25px;
    background-color: #fdfdf8;
}

.info-box h3 {
    margin-bottom: 10px;
    color: #333;
}

.info-box p,
.info-box ul {
    font-size: 17px;
    line-height: 1.5;
}

.info-box ul {
    margin-left: 20px;
}
.equipo {
    margin-top: 40px;
}

.equipo h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.equipo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.integrante {
    border: 2px solid #cad59e;
    border-radius: 12px;
    padding: 18px;
    text-align: center;
    background-color: #fdfdf8;
}

.integrante img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #cad59e;
}

.integrante h3 {
    margin: 8px 0;
    color: #333;
}

.integrante p {
    font-size: 16px;
    color: #555;
}
/* FOOTER */

footer{
    background-color: #f1ebeb;
    color: #e9e2e2;
    padding: 1rem;
    text-align: center;
    line-height: 1.4;
}

@media (max-width: 600px){
    header{
        padding: 1rem 2rem;
    }

    .icono-carrito img{
        max-height: 3.5rem;
    }

    .productos-en-carrito{
        width: 100%;
    }

    .contenedor {
        padding: 18rem 2rem 4rem 2rem;
    }

    .contenedor-productos{
        gap: 1rem;
    }

 
}

/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
	background-color: var(--primary-color);
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}
/*******/
.socialw {
    width: 235px;
    margin: 40px auto 0 auto;
    overflow: auto;
    height: 100%;
}
  
.social{
    position:relative;
    border: 1px solid #292929;
	border-radius: 5px;
    width: 37px;
    height: 62px;
    float: left;
    margin-left: 10px;
    overflow: hidden;
}
  
.first {
    margin-left: 0px;
}

.fadeInDown {
    -webkit-animation: fadeInDown 1s both 0.5s;
    -moz-animation: fadeInDown 1s both 0.5s;
    -o-animation: fadeInDown 1s both 0.5s;
    animation: fadeInDown 1s both 0.5s;
}
  /* Fade In Down */
  
  /* Social Transition */
  
.social img{
  position:absolute;
  left:0;
  top:0;
  -webkit-transition: margin-top 250ms ease-in;
  -moz-transition: margin-top 250ms ease-in;
  -o-transition:  margin-top 250ms ease-in;
  transition:  margin-top 250ms ease-in;
}
.social:hover img{
  margin-top:-62px;
}
/*****/
.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}

	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}

	.container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 52rem;
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
	}

	.feature-content span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.content-blog h3 {
		font-size: 2.4rem;
	}

	.content-blog span {
		font-size: 1.8rem;
	}

	.content-blog p {
		font-size: 2.2rem;
	}

	.btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.content p{
		font-size: 1.6rem;
	}
}
